.fabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  position: sticky;
  bottom: 2rem;
  right: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loading-url {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
}
