.profile-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
    margin-right: 0.5rem;
}

.fab {
  margin-top: 2rem;
  position: sticky;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 5rem;
}

.item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
}

.item-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  row-gap: 0.5rem;
}
